{% extends "KafeAdminBundle::layout.html.twig" %}

{% block title_page %}Accueil{% endblock %}

{% block fil_ariane %}
    <div class="breadcrumb_divider"></div>
    <a class="current">Accueil</a>
{% endblock %}

{% block core_body %}
		<div class="spacer"></div>
{% endblock %}