<h3>Armures</h3>
<ul class="toggle">
    <li class="icn_new_article"><a href="{{ path('kafe_armuremanager_tete_ajouter') }}">Tête</a></li>
    <li class="icn_new_article"><a href="{{ path('kafe_armuremanager_bustier_ajouter') }}">Bustier</a></li>
    <li class="icn_new_article"><a href="#">Bras</a></li>
    <li class="icn_new_article"><a href="#">Taille</a></li>
    <li class="icn_new_article"><a href="#">Jambes</a></li>
</ul>

<h3>Utilisateurs</h3>
<ul class="toggle">
    <li class="icn_add_user"><a href="#">Ajouter un Utilisateur</a></li>
    <li class="icn_view_users"><a href="#">Voir les Utilisateurs</a></li>
    <li class="icn_profile"><a href="#">Mon Profil</a></li>
</ul>

<h3>Admin</h3>
<ul class="toggle">
    <li class="icn_settings"><a href="#">Options</a></li>
    <li class="icn_jump_back"><a href="#">Déconnexion</a></li>
</ul>